<ion-footer>
  <ion-toolbar class="bg-white dark:bg-gray-800 shadow-md p-0">
    <div class="w-full max-w-[1110px] mx-auto px-4 py-2">
      <div class="flex justify-center items-center flex-wrap gap-2">
        <ion-text class="text-sm dark:text-gray-200 text-center md:text-left">
          © Copyright {{ year }}
          <a
            href="https://www.comunicare.be"
            target="_blank"
            rel="noopener noreferrer"
            class="link"
          >
            Comunicare
          </a>
        </ion-text>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
